<%= link_to 'Back', users_path %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>   

  <!-- <strong>Avatar:</strong> -->
  <%#= image_tag @user.user_image.thumb.url %>

  <strong>Avatar:</strong>
  <%= link_to image_tag(@user.user_image.thumb.url), @user.user_image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>

  <strong>Location:</strong>
  <%= @user.location.name %>
</p>

<p>
  <strong>About Me:</strong>
  <%= @user.about_me %>
</p>

<p>
  <strong>Photos:</strong>
  <% @user.photos.each do |photo| %>
  <%= image_tag photo.image.thumb.url %>
  <% end %>
</p>



