<%= link_to 'Back', users_path %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location.name %>
</p>

<p>
  <strong>Photos:</strong>
  <% @user.photos.each do |photo| %>
  <%= image_tag photo.image.thumb.url %>
  <% end %>
</p>



