<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Street Art Snaps" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<!-- 
  <ul class="example-orbit" data-orbit>
    <li>
      <img src="http://i.imgur.com/sQcoRZD.jpg" alt="slide 1" />
      <div class="orbit-caption">
      Brick Lane, London.
      </div>
    </li>
    <li class="active">
      <img src="http://i.imgur.com/G88bnFM.jpg" alt="slide 2" />
      <div class="orbit-caption">
        Brick Lane, London.
      </div>
    </li>
    <li>
      <img src="../assets/img/examples/launch-orbit.jpg" alt="slide 3" />
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul> -->

  <body>
    <div class='login'>
      <% if current_user %>
      <%= current_user.email %>
      <%= link_to 'Edit', edit_user_registration_path, method: :get %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </div>

  <body>

    <%= yield %>

  </body>
</html>



