<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Street Art Snaps" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <ul class="side-nav">
    <div class='login'>
      <% if current_user %>
      Hello <%= current_user.email %>!
      <li><%= link_to 'Edit', edit_user_registration_path, method: :get %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
      <li><%= link_to 'Photos', photos_path %>
    </div>
    </ul>

  <body>

    <%= yield %>

  </body>
</html>



