<p id="notice"><%= notice %></p>
<h4><%= link_to 'Add a new photo', new_photo_path %></h4> 

<h1>The photos of Street Art Snaps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.description %></td>
        <td><%= Location.find(photo.location_id).name %></td>
        <td><%= link_to image_tag(photo.image.thumb.url), photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



