<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @photo.location.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@photo.image.url) if @photo.image %>
</p>

<ul>
  <li>
  <%= link_to "Like", like_photo_path(@photo[:id]), method: :put %>
    <%= @photo.get_likes.size %>
  </li>
  <li>
    <%= link_to "Dislike", dislike_photo_path(@photo[:id]), method: :put %>
    <%= @photo.get_dislikes.size %>
  </li> 
  <li>
    <%= link_to "Cancel", unvote_photo_path(@photo[:id]), method: :put %>
  </li>
</ul> 

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>

