<p id="notice"><%= notice %></p>
<%= link_to 'Back', locations_path %><br>


<b>Location:</b>
<%= @location.name %> 
<% @location.photos.each do |photo| %><br>
<% end %>
<br><br>

<p>
  <b>Images:</b><br>
  <% @location.photos.each do |photo| %>
  <%= image_tag photo.image %>
  <%= photo.title %><br><br>
  <% end %>
  <%#= image_tag @location.image.url %>
</p>




